:root{
    --pink:#bd1f6c;

}
*{
    margin: 0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: hsla(339, 100%, 59%, 0.139);

}

.heading span{

    color:var(--pink);   
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color:#fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--pink);
}
header{
    position:fixed;
    top:0; left:0; right:0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header  .logo{
       font-size: 3rem;
       color: #333;
       font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 5rem;
    color: #666;
}
header  .navbar a:hover{
    color:var(--pink)
}
header .icons a{
    font-size: 2rem;
    color:#333;
    margin-left: 1rem;
   
    
}
header .icons a:hover{
        color:var(--pink);
}



.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(FLOWER.jpg) no-repeat;
    background-size:cover ;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333
}

.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;

}
.home .content p{
    font-size:1.5rem;
    color: #282424;
    padding: 1rem  0;
    line-height: 1.5;
}

section.section3 {
    background: #efefef;
    padding: 60px 0px;
}

section.section3 .innercol {
    background: #ffffff;
    padding: 20px 20px;
    transition: 0.5s ease-out;
}

section.section3 .innercol .txtwithicon {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.section3 .innercol .txtwithicon .iconcol {
    font-size: 70px;
    margin-right: 20px;
}

section.section3 .innercol .txtcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

section.section3 .innercol .txtcol h4 {
    padding: 0px;
    margin: 0px;
    font-family: 'Jost';
    color: #000000;
    font-weight: 600;
}

section.section3 .innercol .txtcol p {
    padding: 0px;
    margin: 0px;
    font-family: 'Jost';
    color: #590535;
    font-size: 40px;
    letter-spacing: 0.2px;
}

section.section3 .col-sm-3:hover .innercol {
    background: #ff2d8f83;
    transition: 0.5s linear;
}

section.section3 .col-sm-3:hover .innercol * {
    color: #ffffff;
}

section.section3 .innercol * {
    cursor: pointer;
}


.products .box-container{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgb(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgb(0,0,0,.1);
    position:relative;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    height:25rem;


}

.products .box-container .box .image img{
    transform: scale(1,1);
    
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;left:0 ; right:0;
    display: flex;

}

.products .box-container .box .image .icons{
    bottom: 0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background: #d8688fe7;
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
    
}

.products .box-container .box .image .icons a:hover{
    background: #d3267f;

}
.products .box-container .box .content{
    padding: 2rem;
    text-align: center;

}
.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;

}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;

}

section.section6 {
    padding: 30px 0px;
}

.section6 h1.mainheading {
    text-align: center;
    font-family: 'Jost';
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 50px;
    background: #fff5fa;
    padding: 10px 0px;
    margin-bottom: 50px;
    transition: 0.5s ease;
}

.section6 h1.mainheading span {
    color: #b21c53;
    transition: 0.5s ease;
}



.section6 .col-sm-6:nth-child(1) form {
    box-shadow: 0px 0px 18px #00000014;
    padding: 30px 30px 30px 30px;
    margin: 0px 0px 25px;
    position: relative;
}

.section6 .col-sm-6:nth-child(1) form input {
    width: 100%;
    border: 1px solid grey;
    margin: 8px 0px;
    padding: 11px 15px;
    font-family: 'Poppins';
    color: rgb(75, 75, 75);
    border-radius: 5px;
}

.section6 .col-sm-6:nth-child(1) form input::placeholder {
    color: rgb(172, 7, 84);
    font-size: 2rem;
}

.section6 .col-sm-6:nth-child(1) form textarea {
    width: 100%;
    border: 1px solid grey;
    margin: 8px 0px;
    padding: 11px 15px;
    font-family: 'Poppins';
    color: grey;
    border-radius: 5px;
    height: 150px;
}

.section6 .col-sm-6:nth-child(1) form textarea::placeholder {
    color: rgb(171, 8, 89);
    font-size: 2rem;
}

.section6 .col-sm-6:nth-child(1) form button.links {
    background: #000000;
    color: #ffffff;
    font-family: 'Poppins';
    padding: 14px 35px;
    border-radius: 30px;
    margin-top: 7px;
    transition: 0.5s ease;
    border: none;
    font-size: 17px;
}

.section6 .col-sm-6:nth-child(2) {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.section6 .col-sm-6:nth-child(2) img {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.section6 .col-sm-6:nth-child(1) form button.links:hover {
    background: #e15a7f;
    transition: 0.5s ease-out;
    border: none;
}





footer.footer .row.copy-right {
    border-top: 3px solid #0000000d;
    margin-top: 5px;
    padding-top: 30px;
    text-align: center;
}

footer.footer .row.copy-right p {
    text-align: center;
    font-family: Montserrat !important;
    font-weight: 500;
    font-size: 20px;
}

footer.footer span.clrchange {
    color: #c9224f;
}






/* *  media queries */ 
@media (max-width:991px){
    html{
        font-size: 55%;
        scroll-behavior: smooth;
        scroll-padding: 6rem;
        overflow-x: hidden;
    }
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }

}

.about .content h3{
    font-size: 3rem;
    color:#333;
}

.about .content P{
    font-size: 1.7rem;
    color:#6d6b6b;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


@media (max-width:768px){
    .home .content h3{
        font-size: 5rem;
    }

     .home .content span{
        font-size: 2.5rem;
    }
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
            font-size: 3rem;
    }
}